.ticket {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
  padding: 20px;
  height: 192px;
  width: 100%;
  box-shadow: 0 1px 4px rgba(74, 74, 74, 0.1);
  border-radius: 6px;
  background-color: #fff;
}

.price {
  display: block;
  height: 36px;
  font-size: 24px;
  font-weight: 600;
  color: #2196F3;
  margin-bottom: 10px;
}

.airline-logo {
  width: 110px;
  height: 36px;
}