// colors
$color-main: #4A4A4A;
$color-secondary: #A0B0B9;
$color-accent: #2196F3;
$color-light: #ffffff;
$color-background: #F1FCFF;

//fonts
$font-main: 'Open Sans', sans-serif;

// breakpoints
$mobile: 320px;
$tablet: 768px;
$desktop: 1440px;
