.header {
  display: flex;
}

.logo {
  margin: 10px auto 5px;
  width: 70px;
  height: 70px;

  @media (min-width: 768px) {
    margin: 25px auto 20px;
  }

  @media (min-width: 1280px) {
    margin: 30px auto;
    width: 80px;
    height: 80px;
  }
}