.filters {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  list-style: none;
  max-width: 100%;
  background-color: #fff;
  border-radius: 4px;
}

.filterItem {
  border-bottom: 1px solid #DFE5EC;
  border-top: 1px solid #DFE5EC;
  border-left: 1px solid #DFE5EC;
  
  &.checked {
    background-color: #2196F3;
  }

  &:first-child {
    border-radius: 4px 0 0 4px;
  }

  &:last-child {
    border-right: 1px solid #DFE5EC;
    border-radius: 0 4px 4px 0;
  }

  &:focus {
    background-color: #2196F3;
    border: 1px solid #2196F3;

    & + li {
      border-left: none;
    }
  
    .filter {
      background-color: #2196F3;
      color: #fff;
    }
  }

  &.checked,
  &:hover,
  &:active {
    background-color: #2196F3;
    border: 1px solid #2196F3;

    & + li {
      border-left: none;
    }
  
    .filter {
      background-color: #2196F3;
      color: #fff;
    }
  }
}

.filter {
  cursor: pointer;
  padding: 15px;
  margin: 1px;
  height: 50px;
  width: 165px;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.5px;
  color: #4A4A4A;
  background-color: #fff;
  text-transform: uppercase;
  border: none;
}

