.sidebar {
  width: 100%;
  height: fit-content;
  background-color: #fff;
  box-shadow: 0 1px 4px rgba(74, 74, 74, 0.1);
  border-radius: 6px;

  @media (min-width: 768px) {
    width: 180px;
  }

  @media (min-width: 1280px) {
    width: 232px;
  }
}

.title {
  padding: 15px 30px 5px;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.5px;
  color: #4A4A4A;
  text-transform: uppercase;

  @media (min-width: 768px) {
    padding: 20px 20px 10px;
  }
}

.fieldset {
  width: 100%;
  border: none;
}

.checkbox {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding-left: 46px;
  height: 40px;
  font-size: 13px;
  font-weight: 400;
  position: relative;

  &:hover {
    background-color: #F1FCFF;
  }

  &:last-child {
    padding-bottom: 5px;
  }

  @media (min-width: 768px) {
    padding-left: 36px;
  }

  span {
    cursor: pointer;
    border-radius: 2px;
    position: absolute;
    left: 30px;
    top: 10px;
    width:  18px; 
    height: 18px;
    border: 1px solid #9ABBCE;

    @media (min-width: 768px) {
      left: 20px;
    }
  }  

  input[type="checkbox"] {  
    opacity: 0;

    &:checked ~ span {
      border: 1px solid #2196F3;
    }

    &:checked ~ span::before {
      content: "";
      position: absolute;
      width: 1.3px;
      height: 5px;
      background-color: #2196F3;
      bottom: 5px;
      left: 4.5px;
      transform: rotate(135deg);
    }
  
    &:checked ~ span::after {
      content: "";
      position: absolute;
      width: 1.3px;
      height: 9px;
      background-color: #2196F3;
      top: 3px;
      right: 6px;
      transform: rotate(49deg);
    }
    
  }
}
