.filters {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto 20px;
  list-style: none;
  max-width: 100%;
  background-color: #fff;
  border-radius: 4px;

  @media (min-width: 768px) {
    margin: 0 0 20px;
    text-align: center;
    max-width: 100%;
  }

  @media (min-width: 1280px) {
    margin: 0 0 20px;
    flex-direction: row;
    max-width: 100%;
  }
}

.filterItem {
  text-align: center;
  border: 1px solid #DFE5EC;

  @media (min-width: 1280px) {
    text-align: initial;
  }
  
  &.checked {
    background-color: #2196F3;
  }

  &:first-child {
    border-bottom: none;
    border-radius: 4px 4px 0 0;

    @media (min-width: 1280px) {
      border-radius: 4px 0 0 4px;
      border-bottom: 1px solid #DFE5EC;
    }
  }

  &:nth-child(2) {
    @media (min-width: 1280px) {
      border-right: none;
      border-left: none;
      border-radius: 0;
    }
  }

  &:last-child {
    border-top: none;
    border-radius: 0 0 4px 4px;

    @media (min-width: 1280px) {
      border-top: 1px solid #DFE5EC;
      border-radius: 0 4px 4px 0;
    }
  }

  &:focus {
    background-color: #2196F3;
    border: 1px solid #2196F3;

    .filter {
      background-color: #2196F3;
      color: #fff;
    }

    & + li {
      @media (min-width: 1280px) {
        border-left: none;
      }
    }
  }

  &.checked,
  &:hover,
  &:active {
    background-color: #2196F3;
    border: 1px solid #2196F3;

    & + li {
      border-top: none;

      @media (min-width: 1280px) {
        border-top: 1px solid #DFE5EC;
        border-left: none;
      }
    }
  
    .filter {
      background-color: #2196F3;
      color: #fff;
    }
  }
}

.filter {
  cursor: pointer;
  padding: 15px;
  margin: 1px;
  height: 50px;
  width: 164px;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.5px;
  color: #4A4A4A;
  background-color: #fff;
  text-transform: uppercase;
  border: none;

  @media (min-width: 768px) {
    height: 40px;
    line-height: 12px;
  }

  @media (min-width: 1280px) {
    height: 50px;
    line-height: 18px;
  }
}

